NODE_ENV=development
PORT=5000
SERVER_PORT=5000
CLIENT_PORT=3000
MONGODB_URI="mongodb+srv://aymardmb_db_user:ldL1oYmTxWycKpTp@cluster3.kyenww4.mongodb.net/quizflip?retryWrites=true&w=majority"

#MONGODB_URI=mongodb+srv://aymardmb_db_user:ldL1oYmTxWycKpTp@cluster3.kyenww4.mongodb.net/?appName=Cluster3
MONGO_ROOT_USERNAME=aymardmb_db_user
MONGO_ROOT_PASSWORD=ldL1oYmTxWycKpTp
MONGO_DB=quizflip
MONGO_APP_USERNAME=aymardmb_db_user
MONGO_APP_PASSWORD=ldL1oYmTxWycKpTp
VITE_REACT_APP_API_BASE_URL=http://localhost:5000/api
JWT_SECRET=22r5y8y9z2f5q9tu9i1o6p98a7d4e6
JWT_EXPIRE=7d
